<launch>

  <node pkg="ros_openpose_joint_converter" name="ros_openpose_joint_converter" type="main.py" output="screen">
  </node>

  <node pkg="character_estimation" name="character_estimation" type="main.py" output="screen">
      <param name="gui" value="1" type="bool"/>
      <param name="mode" value="create_dataset" type="string"/>
      <param name="dataset_url" value="/home/demulab/pose_dataset" type="string"/>
      <param name="dataset_filename" value="dataset.csv" type="string"/>
  </node>

  <!--
  <node pkg="camera1394" type="camera1394_node" name="camera1394_node" >
    <param name="guid"            value="00b09d01009b30ce" />
    <param name="auto_brightness" value="3" />
    <param name="brightness"      value="256.0" />
  </node>
  -->

</launch>


